<nav class="main-menu">
    <ul class="main-menu__ul">
        {% for item in menu %}
            <li class="main-menu__li">
                <a href="{{ item.link }}" class="main-menu__link js-menu-link">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
